html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
  color: white;
}

main {
  margin: auto;
  /*
  background: rgba(0, 0, 0, 0.6);
  padding: 2.5rem;
  border-radius: 1rem;
  */
  width: 50rem;
  height: 30rem;
}

a {
  color: #3788ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #7cbce2;
}

dl {
  display: flex;
  flex-flow: row wrap;
}

dt {
  flex-basis: 20%;
  padding: 0.5rem 4px;
  text-align: right;
}

dd {
  flex-basis: 70%;
  flex-grow: 1;

  padding: 0.5rem 4px;
}

.bg:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.introduction {
  display: flex;
}

.ava {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px white;
  z-index: 2;
}

.introduction div {
  background: rgba(0, 0, 0, 0.6);
  padding: 0 0.5rem 0 3rem;
  height: 6.5rem;
  margin: 0.5rem 0 0.5rem -2.5rem;
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
}

.introduction h1 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #ffb3b2;
}

.tab-content {
  display: block;
  height: 19.2rem;
}

.tabs {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  height: 22.5rem;
}

.tab-header {
  display: flex;
  margin: 0;
  padding: 0;
}

.tab-header li {
  flex: 1;
  display: block;
}

.tab-head,
.tab-head:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #c94353;
  padding: 1rem 0;
  border-bottom: 2px solid #999999;
}

.tab-head.active {
  border-bottom: 2px solid #c94353;
}

.tabs-pane {
  display: none;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
}

.tabs-pane.active {
  display: block;
}

#social {
  text-align: center;
}

a.icon {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 10rem;
  height: 5.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}

a.icon:before {
  background: radial-gradient(ellipse at center, #3788ca 0%, transparent 65%);
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

a.icon:hover:before {
  opacity: 1;
}

a.icon img {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: auto;
}

.server {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  display: inline-block;

  width: 10rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  overflow: hidden;

  font-size: 0.8rem;
  color: #2c2a39;

  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.server img {
  width: 10rem;
  height: auto;
  margin: -0.5rem -0.5rem 0 -0.5rem;
}

.server p.name {
  font-weight: bold;
  font-size: 1.5em;
}

.server p.desc {
  font-style: italic;
}

.server p {
  line-height: 1.2;
  padding: 0;
  margin: 0.25rem 0;
}

.server .host,
.server .cores,
.server .ram,
.server .storage {
  font-size: 0.8em;
}

.server .host:before,
.server .cores:before,
.server .ram:before,
.server .storage:before {
  font-style: italic;
}

.server .host:before {
  content: 'Host: ';
}

.server .cores:before {
  content: 'Cores: ';
}

.server .ram:before {
  content: 'RAM: ';
}

.server .storage:before {
  content: 'Storage: ';
}
