body {
  font-family: "Noto Sans";
  min-height: 100vh;
  color: white;
}

code,
kbd,
samp,
pre {
  font-family: "PT Sans";
}

.tab-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-pane:target {
  display: block;
}

.tab-pane:not(:target) {
  display: none;
}

.server .host:before {
  content: "Host: ";
}

.server .cores:before {
  content: "Cores: ";
}

.server .ram:before {
  content: "RAM: ";
}

.server .storage:before {
  content: "Storage: ";
}
