body {
  background: url(/images/hydaelyn.jpg);
  background-size: cover;
}

.wrapper {
  width: 50em;
  margin: auto;
  padding-top: 5rem;
}

.wrapper > header,
.wrapper > footer div {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.9);
  display: block;
}

.wrapper > header .ava {
  width: 6rem;
  height: auto;
  float: left;
  margin-right: 1em;
  border-radius: 15px;
}

.wrapper > header h1 {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.wrapper > header span {
  display: block;
  font-size: 1em;
}

.wrapper > main {
  display: block;
  margin: 2em 0;
  background: linear-gradient(to bottom, #76726e, #313031 15px) repeat-x;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4) inset;
  position: relative;
}

.wrapper > main:after {
  content: "";
  position: absolute;
  border-width: 11px;
  border-style: solid;
  border-image: url("/images/xivborder.png") 11;
  border-image-outset: 2px;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  pointer-events: none;
}

.wrapper > main .tab-header {
  padding: 0.5em;
  display: flex;
}

.wrapper > main .tab-header li {
  flex: 1;
  position: relative;
  margin: 0 0.2em;
}

.wrapper > main .tab-header a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  background: linear-gradient(to bottom, #62645f, #4d544c 49%, #373737 51%, #4c4c4c);
  border-radius: 0.8em;
  height: 1.6em;
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.4) inset, 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.wrapper > main .tab-header li:hover a {
  background: linear-gradient(to bottom, #7a7c76, #636d62 49%, #515151 51%, #666666);
}

.wrapper > main .tab-header li.active a {
  background: linear-gradient(to bottom, #acafa7, #92a090 49%, #848484 51%, #999999);
}

.wrapper > main .tab-content {
  padding: 1em;
}

.wrapper > main h2 {
  margin-top: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.items a,
.items a:visited {
  flex: 0 0 96px;

  margin: 0.2rem;
  padding: 0.5rem;
  width: 96px;
  height: 96px;
  border: 1px solid #2d2d2d;
  border-radius: 0.5rem;
  text-align: center;
  word-wrap: normal;
  text-decoration: none;
  position: relative;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.items a span {
  background: linear-gradient(45deg, #ffee7b, #947b4a, #ffee7b);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.4))
    drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.4)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.4));
  color: #f6bd6a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.items a:before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0) 20%),
    radial-gradient(circle, #4a1818, #ae3e3e);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-radius: 0.5rem;
}

.items a:hover:after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: radial-gradient(
    ellipse 260% 40px at top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4) 30%,
    transparent 35%
  );
  border-radius: 0.5rem;
}

.items a img {
  width: 48px;
  height: 48px;
  display: block;
  margin: auto;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.4))
    drop-shadow(-1px 1px 5px rgba(0, 0, 0, 0.4)) drop-shadow(1px -1px 5px rgba(0, 0, 0, 0.4));
}

.servers {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.servers .server {
  flex: 1 128px;
  position: relative;
  padding-right: 1em;
}

.servers .server:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0.5em;
  height: 100%;
  width: 1px;
  background: #806643;
  box-shadow: 0 0 1px 1px #16110b;
}

.servers .server img {
  max-width: 96px;
  max-height: 96px;
  display: block;
}

.server p.name {
  font-weight: bold;
  font-size: 1.5em;
}

.server p.desc {
  font-style: italic;
}

.server p {
  line-height: 1.2;
  padding: 0;
  margin: 0.25rem 0;
}

.server .host,
.server .cores,
.server .ram,
.server .storage {
  font-size: 0.8em;
}

.server .host:before,
.server .cores:before,
.server .ram:before,
.server .storage:before {
  font-style: italic;
}

.wrapper > footer select {
  width: 256px;
}

a {
  color: #95cfff;
}

a:visited {
  color: #bce0fd;
}
