html,
body {
  max-height: 100vh;
}
body {
  background-color: #250040;
  color: black;
}

.wrapper {
  width: 50em;
  margin: 5em auto;
}

.wrapper > header {
  background: #004050;
  color: white;
  padding: 2em;
  height: 10em;
  display: block;
}

.wrapper > header .ava {
  width: auto;
  height: 100%;
  float: left;
  margin-right: 2em;
}

.wrapper > header h1 {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.wrapper > header span {
  display: block;
  font-size: 1em;
}

.wrapper > main {
  display: block;
  margin: 2em 0;
}

.wrapper > main .tab-header {
  background: #d44a27;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
}

.wrapper > main .tab-header li {
  border: 3px solid white;
  flex: 1;
  margin: 0 1em;
}

.wrapper > main .tab-header a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1em;
}

.wrapper > main .tab-header li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.wrapper > main .tab-header li.active {
  background: rgba(255, 255, 255, 0.4);
}

.wrapper > main .tab-content {
  padding: 2em;
  background-color: #bb1d48;
  color: white;
}

.wrapper > main h2 {
  margin-top: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.items a,
.items a:visited {
  flex: 1 96px;

  border: 3px white solid;
  text-align: center;
  word-wrap: normal;
  padding: 1em;
  margin: 1em;
  color: white;
  text-decoration: none;
}

.items a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.items a:active {
  background: rgba(255, 255, 255, 0.4);
}

.items a img {
  width: 48px;
  height: 48px;
  display: block;
  margin: auto;
}

.servers {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.servers .server {
  flex: 1 128px;
}

.servers .server img {
  max-width: 96px;
  max-height: 96px;
  display: block;
}

.server p.name {
  font-weight: bold;
  font-size: 1.5em;
}

.server p.desc {
  font-style: italic;
}

.server p {
  line-height: 1.2;
  padding: 0;
  margin: 0.25rem 0;
}

.server .host,
.server .cores,
.server .ram,
.server .storage {
  font-size: 0.8em;
}

.server .host:before,
.server .cores:before,
.server .ram:before,
.server .storage:before {
  font-style: italic;
}

.wrapper > footer div {
  padding: 2em;
  background: #2b82ee;
  color: white;
  margin-left: auto;
  float: right;
  margin-right: 3px;
}

.wrapper > footer select {
  width: 128px;
  padding: 0.5em;
  background-color: white;
  border: 0 transparent none;
  color: black;
  font-weight: bold;
  margin-left: 0.5em;
}

a {
  font-weight: bold;
  color: #95cfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #bce0fd;
}
